<%- include('./partials/head') %>

<section class="titel">
  <h1>Welcome</h1>
</section>

<main>
  <section class="card-container">
    <div class="card">
      <img class="card-img" src="/david-transparent.png"></img>
      <div class="card-stickers"></div>
    </div>
  </section>

  <section class="info">
    <h2>Youssra Elmortai</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultrices dapibus metus, sit amet bibendum leo rhoncus
    eget. Aenean sapien dolor, vehicula non lacinia sit amet, lacinia ac lorem. In pharetra eleifend laoreet. Donec
    vestibulum neque leo, cursus malesuada turpis laoreet ut. Quisque quis sagittis justo, dignissim tincidunt ipsum.
    Maecenas id convallis erat.</p>
  </section>
</main>


<%- include('./partials/foot') %>
