<%- include('./partials/head') %>


  <header>
    <!-- stroke path annimatie-->
    <h1>Youssra Elmortai</h1>
  </header>
  
  <main>
    <section class="card">
      <img class="card-img" src="/" alt="Youssra met een laptop ">
      <img class="card-character" src="" alt="">
      <img class="card-titel" src="" alt="fdnd student">
  
    </section>
  
    <section class="info">
      <!-- scroll animatie -->
      <div text>
        <p>youssra Elmortai</p>
      </div>
      <div text>
        <p>16-06-2000</p>
      </div>
    </section>

   <section class="two-cats">
    
   </section>


  </main>


<%- include('./partials/foot') %>
