<%- include('./partials/head') %>


  <header>
  <h1>Youssra Elmortai</h1>
  </header>

  <main>
    <section class="card">
      <img class="card-img" src="/myface.webp" alt="Youssra met een laptop ">
      <img class="card-character" src="" alt="">
      <img class="card-titel" src="" alt="fdnd student">

    </section>

    

  </main>


<%- include('./partials/foot') %>
