<%- include('./partials/head') %>

  <main>
    <section class="cards-container">
    <div class="card">
      <div class="card-inside">
      </div>
  
    </div>

     <div class="card">
      <div class="card-inside">
      </div>

      <div class="card">
        <div class="card-inside">
        </div>
      
      </div>
      
      <div class="card">
        <div class="card-inside">
        </div>
  
    </section>

  </main>


<%- include('./partials/foot') %>
