<%- include('./partials/head') %>

<section class="titel">
  <h1>Welcome</h1>
</section>

<main>
  <section class="card-container">
    <div class="card">
      <img class="card-img" src=""></img>
      <div class="card-stickers"></div>
    </div>
  </section>

  <section class="info">
    <span>Youssra Elmortai</span>
    <p></p>
  </section>
</main>


<%- include('./partials/foot') %>
