:root{
    --dark-mode-bgcolor: #4C0033;
    --dark-mode-text-color:#960064;
    --dark-mode-accent-color:#5b033c;
    --dark-mode-accent-color2:#E80F88;
    --dark-mode-accent-color3:#ff55b2;

}

body{
    background-color:var(--dark-mode-bgcolor);
    color: var(--dark-mode-text-color);
}

header{
    text-align: center;
    
}

main{
   
}

.card{
    margin-top: 2em;
    height: 20em;
    width: 15em;
    background-color:var(--dark-mode-accent-color)
    
}

.card-img{
    height: 20em;
    width: 15em;
}

.card-character{
    display: none;
    height: 20em;
    width: 15em;
}

.card-titel{
    height: 3em;
    width: 5;
}

.text {
    opacity: 1;
    font-size: 25px;
    margin-bottom: 2em;
    transition: all 360ms ease-out;
    transition: transform 0.7s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transform: translateY(100%);
}

.show {
    opacity: 1;
    transform: translateY(0);
}

